<!DOCTYPE html>
<html>
<head>
    <title>API Test</title>
    <!-- Thêm liên kết CSS của Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS để ẩn các biểu tượng ban đầu */
        #checkmark, #crossmark {
            display: none;
            font-size: 24px; /* Thay đổi kích thước tùy ý */
            color: green; /* Màu cho biểu tượng ✅ */
        }

        #crossmark {
            color: red; /* Màu cho biểu tượng ❌ */
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Kiểm tra API</h1>
        <div class="input-group mb-3">
            <input type="text" id="inputText" class="form-control w-25" placeholder="Nhập văn bản" onkeypress="handleKeyPress(event)" oninput="clearIcons()">
            <div class="input-group-append">
                <button id="submitButton" class="btn btn-primary" onclick="checkAPI()">Submit</button>
            </div>
        </div>
        <span id="checkmark">✅</span>
        <span id="crossmark">❌</span>
    </div>
    
    <script>
        var apiUrl = '/';

        function clearIcons() {
            var checkmark = document.getElementById('checkmark');
            var crossmark = document.getElementById('crossmark');

            checkmark.style.display = 'none';  // Ẩn biểu tượng ✅
            crossmark.style.display = 'none';  // Ẩn biểu tượng ❌
        }

        function checkAPI() {
            var inputText = document.getElementById('inputText').value;
            var checkmark = document.getElementById('checkmark');
            var crossmark = document.getElementById('crossmark');

            // Gọi API
            fetch(apiUrl, {
                method: 'POST',
                body: JSON.stringify({ text: inputText }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                // Kiểm tra kết quả API
                if (data.result) {
                    checkmark.style.display = 'inline'; // Hiện biểu tượng ✅
                    crossmark.style.display = 'none';  // Ẩn biểu tượng ❌
                } else {
                    checkmark.style.display = 'none';  // Ẩn biểu tượng ✅
                    crossmark.style.display = 'inline'; // Hiện biểu tượng ❌
                }
            })
            .catch(error => {
                console.error('Lỗi khi gọi API:', error);
            });
        }

        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                checkAPI();
            }
        }
    </script>
</body>
</html>
