<!DOCTYPE html>
<html>
<head>
    <title>Vietnamese Checker</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS to hide initial icons */
        #checkmark, #crossmark {
            display: none;
            font-size: 24px; /* Adjust size as needed */
            color: green; /* Color for ✅ icon */
        }

        #crossmark {
            color: red; /* Color for ❌ icon */
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Vietnamese Checker</h1>
        <div class="input-group mb-3">
            <input type="text" id="inputText" class="form-control w-25" placeholder="Enter word" onkeypress="handleKeyPress(event)" oninput="clearIcons()">
            <div class="input-group-append">
                <button id="submitButton" class="btn btn-primary" onclick="checkAPI()">Submit</button>
            </div>
        </div>
        <span id="checkmark">✅</span>
        <span id="crossmark">❌</span>
    </div>
    
    <script>
        var apiUrl = 'http://127.0.0.1:5000/';

        function clearIcons() {
            var checkmark = document.getElementById('checkmark');
            var crossmark = document.getElementById('crossmark');

            checkmark.style.display = 'none';  // Hide ✅ icon
            crossmark.style.display = 'none';  // Hide ❌ icon
        }

        function checkAPI() {
            var inputText = document.getElementById('inputText').value;
            var checkmark = document.getElementById('checkmark');
            var crossmark = document.getElementById('crossmark');

            // Call the API
            fetch(apiUrl, {
                method: 'POST',
                body: JSON.stringify({ text: inputText }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                // Check API result
                if (data.result) {
                    checkmark.style.display = 'inline'; // Show ✅ icon
                    crossmark.style.display = 'none';  // Hide ❌ icon
                } else {
                    checkmark.style.display = 'none';  // Hide ✅ icon
                    crossmark.style.display = 'inline'; // Show ❌ icon
                }
            })
            .catch(error => {
                console.error('Error calling the API:', error);
            });
        }

        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                checkAPI();
            }
        }
    </script>
</body>
</html>
